# Startup Predictor

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [5]:
df = pd.read_csv('startup data.csv')
df.drop(['zip_code', 'id',  'object_id', 'name', 'Unnamed: 6','Unnamed: 0'], axis=1, inplace=True)
df

,state_code,latitude,longitude,city,labels,founded_at,closed_at,first_funding_at,last_funding_at,age_first_funding_year,...,is_othercategory,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
0,CA,42.358880,-71.056820,San Diego,1,1/1/2007,NaN,4/1/2009,1/1/2010,2.2493,...,1,0,1,0,0,0,0,1.0000,0,acquired
1,CA,37.238916,-121.973718,Los Gatos,1,1/1/2000,NaN,2/14/2005,12/28/2009,5.1260,...,0,1,0,0,1,1,1,4.7500,1,acquired
2,CA,32.901049,-117.192656,San Diego,1,3/18/2009,NaN,3/30/2010,3/30/2010,1.0329,...,0,0,0,1,0,0,0,4.0000,1,acquired
3,CA,37.320309,-122.050040,Cupertino,1,1/1/2002,NaN,2/17/2005,4/25/2007,3.1315,...,0,0,0,0,1,1,1,3.3333,1,acquired
4,CA,37.779281,-122.419236,San Francisco,0,8/1/2010,10/1/2012,8/1/2010,4/1/2012,0.0000,...,0,1,1,0,0,0,0,1.0000,1,closed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,CA,37.740594,-122.376471,San Francisco,1,1/1/2009,NaN,7/9/2009,7/9/2009,0.5178,...,0,0,0,1,0,0,0,6.0000,1,acquired
919,MA,42.504817,-71.195611,Burlington,0,1/1/1998,6/25/2008,4/1/2005,3/23/2007,7.2521,...,1,1,0,0,1,0,0,2.6667,1,closed
920,CA,37.408261,-122.015920,Sunnyvale,0,1/1/1999,6/17/2012,6/29/2007,6/29/2007,8.4959,...,0,0,0,0,0,0,1,8.0000,1,closed
921,CA,37.556732,-122.288378,San Francisco,1,1/1/2009,NaN,10/5/2009,11/1/2011,0.7589,...,0,0,0,1,1,0,0,1.0000,1,acquired
922,CA,37.386778,-121.966277,Santa Clara,1,1/1/2003,NaN,2/13/2006,2/13/2006,3.1205,...,1,0,0,0,1,0,0,3.0000,1,acquired

In [6]:
df.columns

Index(['state_code', 'latitude', 'longitude', 'city', 'labels', 'founded_at',
       'closed_at', 'first_funding_at', 'last_funding_at',
       'age_first_funding_year', 'age_last_funding_year',
       'age_first_milestone_year', 'age_last_milestone_year', 'relationships',
       'funding_rounds', 'funding_total_usd', 'milestones', 'state_code.1',
       'is_CA', 'is_NY', 'is_MA', 'is_TX', 'is_otherstate', 'category_code',
       'is_software', 'is_web', 'is_mobile', 'is_enterprise', 'is_advertising',
       'is_gamesvideo', 'is_ecommerce', 'is_biotech', 'is_consulting',
       'is_othercategory', 'has_VC', 'has_angel', 'has_roundA', 'has_roundB',
       'has_roundC', 'has_roundD', 'avg_participants', 'is_top500', 'status'],
      dtype='object')

In [7]:
from sklearn.preprocessing import OneHotEncoder

# drop all catagoerical (text) columns
numerical = []
for column in df.columns: 
  try:
      df[column] = df[column].astype(float)
      numerical += column
  except:
     pass